<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet">
    <title>Главная</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav">
                <li><a href="about.html">О себе</a></li>
                <li><a href="projects.html">Мои проекты</a></li>
                <li><a href="contacts.html">Связь со мной</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="about">
            <div>
                <img class="avatar" src="static/avatar.png" alt="pfp">
            </div>
            <div class="introduction">
                <h3 class="my-name-is">My name is</h3>
                <h2 class="name">Konstantin Komarov</h2>
                <h3 class="nickname">а.к.а. tiredtiredness</h3>
            </div>
        </div> 
    </main>
    <footer>
        <br>
        <br>
        <br>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        grgr
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        vrvr
        vrvr
    </footer>
</body>
</html>